<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myLibrary || {{ title }}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <p id="name">myLibrary</p>
        <button id="but1"><a href="/addbook">Add a Book</a></button>
    <form id="searchbar" action="/search" method="GET">
        <input type="text" placeholder="Search by Title" name="q">
        <input type="submit" value="Search">
    </form>
    </div>
    <pre class="text0">    {{ title }}    </pre>
    <table id="fan_books" class="booktable">
        <tr class="toprow">
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Read</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{row['name']}}</td>
            <td>{{row['author']}}</td>
            <td>{{row['category']}}</td>
            <td><a href={{ row['read'] }}>Click here</a></td>
        </tr>
        {% endfor %}
        
    </table>


    <script src="../static/script.js"></script>
</body>


</html>